.sidenav__tabs{
    display: flex;
}

.sidenav__tab-list {
    padding-left: 0;
    padding: 0.5rem 2rem;
    list-style: none;
    width: 10vw;
    height: 100vh;
    background-color: #E0E6F2;
}

.sidenav__tab-list-item {
    list-style: none;
    cursor: pointer;
    border-radius: 0.2em 0.2em 0em 0em;
}

.sidenav__tab-list-active {
    list-style: none;
    background-color: #CBD3E1;
    border: 1px solid #009bff;
    box-shadow: 0.05em -0.2em 0.15em 0.15em #cceeff;
    border-width: 1px 1px 0 1px;
}

.sidenav__item{
    display: flex;
}

.sidenav__item img{
    height: 1.6em;
    width: 1.6em;
    margin-right: 0.5em;
}